<%- include('./components/header', {title: "Create New Product", css: "/css/create.css"}) %>
  <body>
    <div class="Container">
      <h1 class="Page-Title">Create A New Product</h1>
    <form method="post"  class="create-form" action="/products/create">

      <input
        type="text"
        placeholder="Enter Product Name"
        name="name"
        required
      />
      <input
        type="number"
        min="0"
        placeholder="Enter Product Price (Number)"
        name="price"
        required
      />
      <select name="category">
        <option value="Non Veg">Non Veg</option>
        <option value="vegatable">Vegatable</option>
        <option value="fruits">Fruits</option>
      </select>
      <input type="submit" />
    </form>
    <a href="/"><h1 class="go-back-btn">Go Back</h1></a>
  </div>
  </body>
</html>
